[[source]]
url = 'https://pypi.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
resolvelib = {path = '.', editable = true}

[dev-packages]
invoke = '*'
parver = '*'
pytest = '*'
towncrier = '*'
wheel = '*'

[scripts]
release = 'inv release'
